<div class="logo">
<img src="assets/logo.png" alt="logo">
</div>



<!--<div class="sd">
    <h1>Stationary Donations</h1>


<div class="stationarycount">
    
    <tbody *ngFor="let item of  stationarylist">
          {{c_count}}
    </tbody>
    
</div>

</div>

<div class="cd">
    <h1>Clothes Donations</h1>
</div>-->

<div class="info">
    
<p>
    UnityWave is an online platform designed to facilitate charitable giving and donations. 
    It serves as a bridge connecting individuals and organizations who are willing to make charitable contributions with those in need. This platform provides a user-friendly interface where donors can explore various causes, select the ones they resonate with, and make secure online donations. UnityWave also offers transparency by providing detailed information about the impact of donations, ensuring that donors can see how their contributions are making a positive difference in the world. This project aims to create a more connected and compassionate global community by harnessing the power of online philanthropy.
</p>

<div class="login">
<a href="/login"><button>Get Started</button> </a>
</div>
